* {
    font-family: "Roboto Light", sans-serif;
}

.playfair-display-.serif-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 35px;
}

nav {
    background-color: #121212;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: "Playfair Display", serif;
    color: #FAFAFA;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100vw;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

#carousel-outer {
    width: fit-content;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.carousel img {
    width: 328px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin-left: .5rem;
    margin-right: .5rem;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.carousel-btn {
    border: 1px solid #121212;
    background-color: #FFFFFA;
    height: fit-content;
    width: inherit;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-btn:hover {
    cursor: pointer;
    background-color: #121212;
}

.carousel-btn img {
    height: 2rem;
    width: inherit;
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active .post-img{
    height: auto;
    width: 328px;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

#posts div {
    background-color: #FFFFFA;
    border: solid 8px #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.post-title {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
}

.post-img {
    width: 328px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.post-p {
    width: 328px;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-line;
    text-overflow: ellipsis;
    /*width: 328px;*/
    /*height: 64px;*/
    /*overflow: hidden;*/
}

.read-more-btn {
    max-width: fit-content;
    padding: .5rem;
    border: 1px solid #121212;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    background-color: #F6F6F6;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 0.1s ease;
}

.read-more-btn:hover {
    background-color: #121212;
    color: #FFFFFA;
    border: 1px solid #CCCCFF;
    box-shadow: none;
}

.read-more-btn:active {
    background-color: #FFFFFA;
    border: 1px solid #CCCCFF;
    box-shadow: 0 2px 4px rgba(204, 204, 255, 0.5);
}

.read-more-btn.clicked {
    text-decoration: underline;
    box-shadow: 0 2px 4px rgba(204, 204, 255, 1);
}

footer {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    background-color: #121212;
    color: #FAFAFA;
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 35px;
}
