:root {

}

* {
    font-family: "Roboto Light", sans-serif;
}

.playfair-display-.serif-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #121212;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: "Playfair Display", serif;
    color: #FAFAFA;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.hero-banner {
    width: 80%;
    height: 360px;
    background-color: hotpink;
}



.post-title {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
}

.post-img {
    height: 328px;
    width: inherit;
}

/*.read-more-btn {*/
/*    padding: .8rem;*/
/*    border: 1px solid #121212;*/
/*    font-family: "Playfair Display", serif;*/
/*    font-size: 1rem;*/
/*    background-color: #F6F6F6;*/
/*}*/

/*.read-more-btn:hover {*/
/*    background-color: #FFFFFA;*/
/*    border: 1px solid #CCCCFF;*/
/*}*/

.read-more-btn {
    padding: .8rem;
    border: 1px solid #121212;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    background-color: #F6F6F6;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow 0.1s ease;
}

.read-more-btn:hover {
    background-color: #FFFFFA;
    border: 1px solid #CCCCFF;
    box-shadow: none;
}

.read-more-btn:active {
    background-color: #FFFFFA;
    border: 1px solid #CCCCFF;
    box-shadow: 0 2px 4px rgba(204, 204, 255, 0.5);
}

.read-more-btn.clicked {
    text-decoration: underline;
    box-shadow: 0 2px 4px rgba(204, 204, 255, 1);
}
