* {
    font-family: "Roboto Light", sans-serif;
    box-sizing: border-box;
}

.playfair-display-.serif-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #121212;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: "Playfair Display", serif;
    color: #FAFAFA;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.hero-banner {
    width: 80%;
    height: 360px;
    background-color: hotpink;
}

#new-post-btn {
    text-decoration: none;
    color: #121212;
    background-color: #FFFFFA;
    font-family: "Playfair Display", serif;
    padding: .5rem;
    border: 1px solid #121212;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#new-post-btn:hover {
    border: 1px solid #CCCCFF;
    box-shadow: 0 4px 8px rgba(204, 204, 255, 1);
}

.post-title {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
}

.post-img {
    height: 328px;
    width: inherit;
}

form {
    display: flex;
    flex-direction: column;
    border: solid 8px #F6F6F6;
    padding: 1rem;
    margin-top: 2rem;
    gap: .5rem;
    background-color: #FFFFFA;
}